body {
    background-image: url('./../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.bg-abyss {
    background-color: rgba(29, 53, 87, 0.3);
    backdrop-filter: blur(5px);
}

.bg-btn {
    background-color: #9ed8db;
    color: black;
}

.bg-btn:hover {
    background-color: #467599;
}

.text-main {
    color: #9ed8db;
}

.container-main {
    margin-top: 9rem;
}


.bg-blur {
    backdrop-filter: blur(5px);
}

/* Diseño responsivo */

@media (min-width: 375px) {
    .nav-w {
      width: 360px;
    }
  }

@media (min-width: 576px) {
    .nav-w {
      width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .nav-w {
      width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .nav-w {
      width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .nav-w {
      width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .nav-w {
      width: 1200px;
    }
  }