body {
    background-image: url('./../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.bg-abyss {
    background-color: rgba(29, 53, 87, 0.3);
    backdrop-filter: blur(5px);
}

.bg-btn {
    background-color: #9ed8db;
    color: black;
}

.bg-btn:hover {
    background-color: #467599;
}


.text-main {
    color: #9ed8db;
}

.container-main {
    margin-top: 9rem;
}

.nav-w {
    width: 1200px;
}

.bg-blur {
    backdrop-filter: blur(5px);
}